#ubam-overlay {
	background-color: #000;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
}

#ubam-container {
	background-color: #fff;
	height: 300px;
	position: absolute;
	top: 30px;
	width: 600px;
}